body{
    margin: auto;
}
.txt1{
    margin-top:0%;
    text-align: center;
    background-color: rgb(149, 249, 149);
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #000;
}
.navbar{
    background-color: rgb(149, 249, 149);
}
.navbar-links {
    list-style: none;
    margin-left: 35%;
    display: flex;
    gap: 20px;
    font-size: 30px;
}

/* desplegable de animal */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    list-style: none;
    z-index: 1;
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

/* cartas de animales */
.container {
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

h3 {
    color: #333;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


