body{
    margin: auto;
}

/* Parte del navbar */
.txt1{
    margin-top:10%;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
}

.navbar-a{
    color: #000;
}
.img1{
    margin-top: 5%;
    margin-left: 5%;
    width: 15%;
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar-header{
    display: flex;
}
.navbar-header2{
    margin-left: 40%;
}
.navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    background-color: #000;
    padding: 30px;
}
.navbar-links, a{
    color: white;
}   



/* desplegable de Animal qeu saldra Adopcio */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    list-style: none;
    z-index: 1;
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}



/* Parte body contenedor2 */
.contenedor2{
    position: relative;
    margin-top: -2%;
}

.image-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 855px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}
.image-button p {
    font-size: 20px;
    margin-bottom: 20px;
}
.image-button button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.image-button button:hover {
    background-color: #333;
}
.img2{
    width: 100%;
}

.button-Adopta{
    margin-left: 35%;
}



/* Parte body contenedor3 */
.img3{
    max-width: 20%;
    margin-left: 35%;
    margin-top: 5%;
}

.contenedor3{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.text-button2{
    margin-right: 15%;
    text-align: center;
    margin-top: 10%;
}

/* Parte del footer de todas las HTMLs */
.contenedor-footer{
    background-color: #000;
    padding-bottom: 20px 0;
    color: white;
    text-align: center;
}

.section-contenedor{
    display: flex;
    justify-content: space-around;
}
.contenedor-footer > .section-contenedor> div>img{
    filter: invert(1);
}
.imgfooter{
    width:10%;
    margin: 0 10px;
}
.contenedor-footer2{
    margin-right: 20%;
}
.contenedor-footer2 > h2{
    text-align:center;
    color:white;
}
.contenedor-footer1 > h2{
    color:white;
}
.contenedor-footer > h3 {
    margin-top: 5%;
    text-align: center;
}

/* Parte Sobrenosotros */
.contenedor-sobrenosotros{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
}
.contenedor-sobrenosotros > h2{
    position: relative;
    bottom: 120px;
    left: 190px;
    white-space:nowrap; /*esto es para que se vea el titulo en la misma linea y no se vea uno arriba y otro abajo*/
}
.contenedor-sobrenosotros > p{
    margin-top: 100px;
}

.image-item{
    text-align: center;
    margin: 20px 20px;
    margin-right: 50px;
}
.image-item img{
    width:200px;
    height: auto;
    border-radius: 10px;
}

/* Parte del PJA1_ONGADOPTADOS.html */
/* cartas de animales */
.container {
    max-width: 1300px;
    margin: auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

h2 {
    color: #333;
    text-align: center;
}

/* botones del javascript */
button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

#boton-btn:hover{
    background-color: #007BFF;
}

h3 {
    margin-bottom: 7px;
}

/* Parte del pop up*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
}

.popup h3 {
    margin-top: 0;
}

.popup select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
}

.popup button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #004d40;
}
